<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BestPhoto</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="../layout/Styles/style.css">
</head>

<body>
  <!-- Header -->
  <section class="section-outer section-header">
    <div class="section-inner">
      <div class="section-header-logo">BestPhoto</div>
      <div class="section-header-content">
        <div class="section-header-wrapper">
          <div class="section-header-wrapper__title">Профессиональная студийная фотосессия</div>
          <div class="section-header-wrapper__form">
            <div class="section-header-wrapper__form-button">
              <a href="./register.html">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button> Заказать фотосессию</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Header -->

  <!-- promo -->
  <section class="section-outer section-promo">
    <div class="section-inner">
      <div class="section-cover">
        <div class="section-services">
          <div class="title">Наши услуги</div>
          <div class="text">Студийные фотосессии, модельное портфолио, съемки для журналов в Москве</div>
        </div>
        <img src="./images/woman1.png" alt="" class="women1">
        <img src="./images/woman2.jpeg" alt="2" class="women2">
        <div class="picture">
          <img src="./images/woman3.jpeg" alt="3" class="women3">
          <img src="./images/woman4.png" alt="4" class="women4">
        </div>
      </div>
      <div class="content">
        <div class="title">В стоимость услуг входят</div>
        <div class="offer">
          <img src="./images/icon1.png" alt="">
          <div class="text">Двухчасовая фотосессия в нашей студии</div>
        </div>
        <div class="offer">
          <img src="./images/icon2.png" alt="">
          <div class="text">Аренда дузайнерских платьев</div>
        </div>
        <div class="offer">
          <img src="./images/icon3.png" alt="">
          <div class="text">VIP-обработка 50 лучших фото</div>
        </div>
        <div class="offer">
          <img src="./images/icon4.png" alt="">
          <div class="text">Услуги профессионального визажиста</div>
        </div>
      </div>
    </div>
  </section>
  <!-- /promo -->

  <!-- review -->
  <section class="section-outer section-review">
    <div class="section-inner1">
      <div class="title">Отзывы наших клиетов</div>
      <div class="wrapper">
        <img src="./images/about-us.png" alt="">
        <div class="content">
          <div class="reviews">
            <div class="title">Ольга Белова</div>
            <div class="text">Огромное вам спасибо за предоставленные услуги. Ваше портфолию помогло попасть мне в
              модельное агенство.Всем советую!</div>
          </div>
          <div class="reviews">
            <div class="title">Сергей Петров</div>
            <div class="text">Часто использую данную студию.Остаюсь очень доволен))</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /review -->


  <!-- footer -->
  <footer>
    <div class="logo">
      <div class="part1">Best</div>
      <div class="part2">Photo</div>
    </div>
    <div class="address">ИНН:0000000 ОГРН:000000</div>
  </footer>
  <!-- /footer -->
</body>

</html>
